/************************************
*************************************
************* TEXT OVERRIDES** ******
*************************************
***********************************/
h2.title{
  color: $primary;
}
/************************************
*************************************
*************default classes ********
*************************************
***********************************/
.navbar-startPage{
  background-color: rgba(84, 90, 92, 0.1);
}
/************************************
*************************************
*************container fluid*********
*************************************
***********************************/
.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
